.btn-simple span {
    color: #fff;
}

.filter_title {
    background: #eee;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
}


.filter_div {
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
}



/* Selected Filter */

.card_selected_filter, .card_comment_list {
    background: #fff;
    padding: 7px 10px;


}

.dn {
    display: none!important;
}

.card-body {
    margin-top : 5px;
    padding: 7px 10px;
}

ul.selectedFilter_body li {
    display: inline-block;
    padding: 3px 10px;
    background: #303460;
    border-radius: 5px;
    margin-right: 3px;
    color: #fff;
}

.row .selected_filter_row {
    margin-bottom: 20px;
}

ul.filter-control li {
    display: inline-block;
    color: #d450d9;
    margin-right: 5px;
}

.filters span {

    font-size: 1.2em !important;
    color: #fff !important;;
}

/* General CSS */
.d-inline {

    display: inline-block;
}

.text_center {
    text-align: center;
}


/*******
======= Comments =======
********/

.list_comments ul.msg_list li {
    width: 100%!important;
}

/******** Color Schems ********/

.left_col {
    background: #777d8b !important;
    position: fixed;
    width: 230px;
}

.nav.side-menu>li.active, .nav.side-menu>li.current-page {
    border-right: 5px solid #FE8A7D !important;
}

.nav.side-menu>li.active>a {

    background: #303460 !important;

}

.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #FE8A7D !important;

}

.nav-md ul.nav.child_menu li:before {
    background: #FE8A7D !important;

}

.nav-md ul.nav.child_menu li.active:before {
    background: #337ab7 !important;

}

.sidebar-footer {
    background: ##777d8b !important;
}

.sidebar-footer a {
    background: #6c7fa8 !important;    
}

body {

    background: ##777d8b !important;    
}

.nav_title {
    background: ##777d8b !important;    
}

.btn-success {
    background: #FE8A7D !important;  
    border : none !important;  
}

.x_title {

    color: #303460 !important;  
}
/**** Toggle ****/

.btn-simple.active, .bg-pink {
    background: #FE8A7D !important;  
}

.btn-simple {
    background: #6c7fa8 !important;  
}

.btn-simple:hover {
    background: #FE8A7D !important;   
}
.btn-primary {
    border-color: #303460 !important;  
}

.sidebar-footer span {
    color: #fff !important;  
}




option:checked {
  background: linear-gradient(to bottom, rgba(254,138,125,1) 0%,rgba(254,138,125,1),rgba(254,138,125,1) 100%);
  color: #FFFFFF;
  border: 1px solid #E2E2E2;
}

.highlight { 
background: linear-gradient(to bottom, rgba(254,138,125,1) 0%,rgba(254,138,125,1),rgba(254,138,125,1) 100%);
  color: #FFFFFF;
}

.CustomSubMenu1 {
    
/*background: linear-gradient(to right, #1C6EA4 0%, #2388CB 50%, #144E75 100%) !important;*/
background: linear-gradient(to right, #1C6EA4 0%, #2388CB 79%, #144E75 100%) !important;
}

.CustomMenuText1{
    color: #ffffff !important;
    font-weight: 700 !important;
    font-size: medium;
}


@font-face {
    font-family: Kufyan;
    src: url("../../ArabicFonts/Kufyan/OTF/Kufyan Arabic Regular.otf") format("opentype"),
    url("../../ArabicFonts/Kufyan/TTF/Kufyan Arabic Regular.ttf")  format("truetype");
}

@font-face {
    font-family: Kufyan;
    font-weight: bold;
    src: url("../../ArabicFonts/Kufyan/OTF/Kufyan Arabic Bold.otf") format("opentype"),
    url("../../ArabicFonts/Kufyan/TTF/Kufyan Arabic Bold.ttf")  format("truetype");
}